:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

body {
    color: var(--primary-color);
}

.btn-dark:hover {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.icon-count-sm {
    top: -0.7rem;
    left: 2.8rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 900;
}

.store-image-wrapper {
    display: none;
}

.store-image {
    width: 100%;
    opacity: 0.8;
}

.store-image-content {
    position: absolute;
    top: 20rem;
    left: 35%;
    align-items: center;
}

.store-image-content h1 {
    font-size: 5rem;
    font-weight: 900;
}

.store-heading {
    margin: 5rem 0;
}

.vertical-card-wrapper {
    border-radius: 10px;
    box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.19);
}

.vertical-card-badge-wrapper {
    border-radius: 10px;
}

.add-btn {
    font-size: 0.9rem;
    width: 90%;
}

.horizontal-card-wrapper {
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.wishlist-btn {
    width: 15rem;
}

.store-footer {
    clear: both;
    position: relative;
    height: 50px;
    margin-top: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

::-webkit-scrollbar {
    display: none;
}